.WrapperContainer, .paginationZone .pagination li {
  padding-top: 15px;
}
.breadcrumWrapper {
  margin: -5px 0 10px 5px;
}
@media (min-width: 768px)
<style>
.cIiMVT {
    display: block;
}
<style>
.cIiMVT {
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.jbltJC {
  display: inline-block;
}
.cIiMVT li:first-child::before {
  content: "";
  padding: 0px;
}
/* <style> */
.jbltJC::before {
  content: "»";
  color: rgb(34, 74, 129);
  padding: 0px 5px;
}
.eZQMkE {
  color: rgb(34, 74, 129);
  font-size: 12px;
  text-decoration: none;
}
.jbltJC::before {
  content: "»";
  color: rgb(34, 74, 129);
  padding: 0px 5px;
}
.contactInfo {
  text-align: center;
}
.PaperContainer {
  padding-bottom: 15px;
}
.contactInfo .PaperInfoWrapper {
  text-align: left;
}
.PaperContainer {
  padding-bottom: 15px;
}
.PaperContainer .TitleHeading {
  margin: 0;
  padding: 20px;
  font-weight: 200;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.PaperContainer .TitleHeading span {
  font-weight: 500;
  color: #999;
}
.notfound {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
svg:not(:root) {
  overflow: hidden;
}
.st0 {
  fill: #ccc;
}
.notfound .alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.notfound .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
element.style {
  border: 1px solid rgb(254, 153, 0);
  box-sizing: border-box;
  display: inline-block;
  font-family: Verdana, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px 0px 10px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  vertical-align: middle;
  height: 36px;
  line-height: 30px;
  min-width: 100%;
  color: rgba(0, 0, 0, 0.87);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 3px;
  user-select: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
element.style {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: middle;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: rgb(254, 153, 0);
}
.container.WrapperContainer {
  width: 70%;
}
.contactInfo .name {
  color: #000 !important;
  font-size: 18px;
  font-weight: 600;
}
.contactInfo .PaperInfoWrapper .BasicInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
element.style {
  color: #ffffff;
  background-color: rgb(188, 188, 188);
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.contactInfo .PaperInfoWrapper .BasicInfo .AvatarWrapper {
  padding-right: 5px;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper {
  margin-left: 10px;
  width: 100%;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow {
  margin: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .FollowRow a {
  color: inherit;
}
b, strong {
  font-weight: bold;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton.EditProfile {
  background-color: #fff;
  color: #000;
  border: 1px solid #d7d9dc;
}
.contactInfo .PaperInfoWrapper .BasicInfo .InfoWrapper .UltiRow .MainFunctionButton {
  cursor: pointer;
  text-align: center;
  line-height: 1.5;
  min-width: 125px;
  font-size: 14px;
  border-radius: 20px;
  outline: 0;
  padding: 4px 10px;
  min-height: 30px;
  margin-right: 10px;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.contactInfo .circleButton {
  border: 1px solid #d7d9dc;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
.contactInfo .PaperInfoWrapper .ExtraInfo {
  padding: 15px;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contactInfo .PaperInfoWrapper .ExtraInfo .itemRow {
  height: 20px;
  margin: 5px 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  color: #9b9b9b;
}
.PaperContainer .TitleHeading span {
  font-weight: 500;
  color: #999 !important;
}